/* CSS Document */

* {
	color: green;
}

a {
	text-decoration: none;
	text-shadow: 2px 2px yellowgreen;
}

a:hover{
	color: yellowgreen;
	text-shadow: 2px 2px green;
}

body {
	background: black;
	font-family: 'Courier New', Courier, monospace;
}